.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns li a {
  padding: 0.8rem;
}

.btns li:hover {
  color: #0095f6;
}

.pageBtn {
  color: #757373;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.currentBtn {
  color: #0095f6;
}
