.category {
  margin-top: 1.6rem;
  padding: 1rem 1.5rem 0 1rem;
}

.category h3 {
  border-bottom: 1px solid rgba(128, 128, 128, 0.27);
  padding-bottom: 0.7rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.category li {
  margin-bottom: 0.5rem;
}
