.input {
  display: flex;
  margin: 2rem auto 0 auto;
  padding: 1em;
  width: 90%;
  font-size: 2rem;
  border: none;
  border-bottom: solid 1px var(--blog-light-skyblue);
  border-collapse: collapse;
  font-family: "Noto Sans KR", sans-serif;
}

.textarea {
  display: flex;
  margin: 2rem auto 0 auto;
  padding: 1em;
  width: 90%;
  height: 70vh;
  font-size: 1rem;
  border: none;
  border-collapse: collapse;
  font-family: "Noto Sans KR", sans-serif;
}

.buttons {
  display: flex;
  flex-basis: 10%;
  justify-content: space-between;
  margin: 2rem;
}

.backBtn {
  border: none;
  cursor: pointer;
  border: none;
  border-bottom: solid 1px var(--blog-light-skyblue);
  font-size: medium;
  padding: 10px;
}

.backBtn:hover {
  background-color: var(--blog-light-skyblue);
}

.submitBtn {
  border: none;
  cursor: pointer;
  border: none;
  border-bottom: solid 1px var(--blog-light-skyblue);
  font-size: medium;
  padding: 10px;
}

.submitBtn:hover {
  background-color: var(--blog-light-skyblue);
}
