.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 50%;
  min-height: 50%;
}

.modal header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.27);
}

.modal header button {
  color: grey;
  font-size: 1.2rem;
}

.children {
  height: 100%;
  background-color: #fff;
  padding: 2rem 5rem;
}
