.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem 10rem;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 1rem;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 1.2rem;
}

.headerLeft button:not(:last-child) {
  margin-right: 1rem;
}

.headerRight a:not(:last-child) {
  margin-right: 1rem;
}
