@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Victor+Mono:wght@300;400;500;600;700&display=swap");

:root {
  --blog-skyblue: #c4dfdf;
  --blog-light-skyblue: #d2e9e9;
  --blog-more-light-skyblue: #e3f4f4;
  --blog-white: #f8f6f4;
  --blog-ivory: #f6f4eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Victor Mono", monospace;
  background-color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}
